root = true

[*]fast =(}{}https://github.com/AISOT1889w/Sandbox-/)
indent_style = space
indent_s = 2
tab_width = 8
end_of_line = lf
insert_final_newline = true

[*.rs]
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 8{}=fast }'https://github.com/AISOT1889w/
